body {
    min-width: 360px;
}

#cardEntity img {
    width: 100%;
    min-height: 100px;
}
#cardEntity .card {
    border: none;
}
#cardEntity .card-body {
    position: absolute;
    top: 0;
}

.col-thumb > img {
    object-fit: cover;
    height: 4rem;
    width: 6rem;
}
.col8rem {
    min-width: 8rem;
}
.col30rem {
    min-width: 30rem;
}

img#modalThumb  {
    max-width: 100%;
    /*object-fit: cover;*/
    /*height: 30rem;*/
    /*width: 40rem;*/
}
#modalContent .card {
    padding: 1rem;
    min-height: 5rem;
}
