._margin-bottom50 {
    margin-bottom: 50px;
}

._margin-bottom20 {
    margin-bottom: 20px;
}

._bold {
    font-weight: bold;
}

.-fit {
    object-fit: cover;
}

#dataEntity .col-thumb {
    width: 10rem;
}

#dataEntity .col-thumb > img {
    object-fit: cover;
    height: 5rem;
    width: 10rem;
}

#dataEntity .col-id, #dataEntity .col-seeder, #dataEntity .col-breeder, #dataEntity  .col-gen {
    width: 10rem;
}

#dataEntity .col-owner {
    width: 40rem;
}

#detailThumb {
    text-align: center;
}

#detailThumb img {
    object-fit: cover;
    height: 30rem;
    width: 40rem;
}

#detailEntity .card {
    padding: 1rem;
    height: 10rem;
}