.container._margin-bottom50
    h2 Refference &nbsp;
    .row
        ul
            li
                a(href="" target="_blank") Github
            li
                a(href="https://twitter.com/planethouki" target="_blank") Twitter @planethouki