ul.topnav
    li
        a.brand(href="/") Crypt-Oink-Explorer
    li
        a(href="/entitylist.html") EntityList
    li
        a(href="/auctionsellzero.html") GenZero
    li
        a(href="/auctionsell.html") Auction
    li
        a(href="/auctionseed.html") Seeder
