.modal.fade#modalContent(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog.modal-xl(role="document")
        .modal-content
            .modal-header
                h5.modal-title#exampleModalLabel Ton Data
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                .row
                    .col-lg-12.col-xl-6
                        img#modalThumb
                    .col-lg-12.col-xl-6
                        .row
                            .col-lg-3.col-xl-6.card#modal-tokenId
                            .col-lg-3.col-xl-6.card#modal-isBreeding
                            .col-lg-3.col-xl-6.card#modal-isReady
                            .col-lg-3.col-xl-6.card#modal-cooldownIndex
                            .col-lg-3.col-xl-6.card#modal-nextActionAt
                            .col-lg-3.col-xl-6.card#modal-matingWithId
                            .col-lg-3.col-xl-6.card#modal-birthTime
                            .col-lg-3.col-xl-6.card#modal-breederId
                            .col-lg-3.col-xl-6.card#modal-seederId
                            .col-lg-3.col-xl-6.card#modal-generation
                            .col-lg-12.col-xl-12.card#modal-dna
                            .col-lg-12.col-xl-12.card#modal-owner
            .modal-footer
                button.btn.btn-secondary(type="button" data-dismiss="modal") Close