.modal.fade#modalContent(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog.modal-xl(role="document")
        .modal-content
            .modal-header
                h5.modal-title#exampleModalLabel Ton Data
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            .modal-body
                .row
                    .col-lg-12.col-xl-6.text-center
                        img#modalThumb
                    .col-lg-12.col-xl-6
                        .row
                            .col-lg-3.col-xl-6.card#modal-tokenId
                            .col-lg-3.col-xl-6.card#modal-startingPrice
                            .col-lg-3.col-xl-6.card#modal-endingPrice
                            .col-lg-3.col-xl-6.card#modal-duration
                            .col-lg-3.col-xl-6.card#modal-startedAt
                            .col-lg-3.col-xl-6.card#modal-currentPrice
                            .col-lg-12.col-xl-12.card#modal-seller
            .modal-footer
                button.btn.btn-secondary(type="button" data-dismiss="modal") Close