extends layout

block content
    include _header
    ._margin-bottom20
    .jumbo._margin-bottom50
        .row
            h2 Temporary
        .row
            .col
                input(name="tokenId" type="number" placeholder="start id" style="width:15rem;")._floatLeft
                input(name="size" type="number" placeholder="size" style="width:15rem;")._floatLeft
                button#getEntity._floatLeft(style="margin-left:1rem;") search
                button#donloadCSV._floatRight._xsmall Download
        .row
            #dataEntity
        include _footer

block script
    script(src="js/auctionseed.js")