extends layout

block content
    ._margin-bottom20
    .container._margin-bottom50
        .row
            .col.m6
                h2 Official Shop
        .row
            #dataEntity
block script
    script(src="js/auctionsellzero.js")