extends layout

block content
    include _header
    main.container#main
        h1.display-3
            a.text-decoration-none(href="shop.html") Breed
        .form-inline.float-sm-right
            .form-group.mx-sm-3.mb-2
                input.form-control(name="tokenId" type="number" placeholder="ex.) 1000")
            button.btn.btn-primary.mb-2#getEntity search
        #topPagination
        #dataEntity.table.table-borderless.table-sm
        #bottomPagination
    include _tonauctionmodal
    include _footer
block script
    script(src="js/breed.js")
    script(src="js/_auction.js")