extends layout

block content
    include _header
    main.container#main
        h1.display-3.mb-4
            a.text-decoration-none(href="shop.html") Breed
        .form-inline.float-sm-right
            .form-group.mr-sm-3.mb-2
                input.form-control(name="tokenId" type="number" placeholder="ex.) 1000")
            button.btn.btn-primary.mb-2#getEntity search
        #topPagination.mb-2
        #infoBar.mb-2
        #dataEntity.mb-2
        #bottomPagination.mb-2
    include _tonauctionmodal
    include _footer
block script
    script(src="js/breed.js")
    script(src="js/common_auction.js")