extends layout

block content
    include _header
    .jumbo
        .row
            h2 Entity Data
        .row
            .col
                input(name="tokenId" type="number" placeholder="start id" style="width:15rem;")._floatLeft
                input(name="size" type="number" placeholder="size" style="width:10rem;")._floatLeft
                input(name="interval" type="number" placeholder="interval" style="width:10rem;")._floatLeft
                button#getEntity._floatLeft(style="margin-left:1rem;") get data
                button#donloadCSV._floatRight._xsmall Download
        .row
            #dataEntity
        include _footer

block script
    script(src="js/entitydata.js")