extends layout

block content
    include _header
    ._margin-bottom20
    .container._margin-bottom50
        .row
            h2 Entity List
        .row
            .col.m6
                #pagination
            .col.m6
                ._floatRight
                    input(name="tokenId" type="number" placeholder="id" style="width:15rem;")._floatLeft
                    button#getEntity._floatLeft(style="margin-left:1rem;") search
        .row
            #dataEntity
    .modalbox-modal#detailContent
        .modalbox-modal-content
            span.-close#modalbox-close &times;
            #detailThumb
                img
            #detailEntity
                .row
                    .col.m1-5.card#tokenId
                    .col.m1-5.card#isBreeding
                    .col.m1-5.card#isReady
                    .col.m1-5.card#cooldownIndex
                    .col.m1-5.card#nextActionAt
                .row
                    .col.m1-5.card#matingWithId
                    .col.m1-5.card#birthTime
                    .col.m1-5.card#breederId
                    .col.m1-5.card#seederId
                    .col.m1-5.card#generation
                .row
                    .col.card#dna
                    .col.card#owner
        include _footer

block script
    script(src="js/entitylist.js")


