extends layout

block style
    link(rel='stylesheet' type="text/css" href='css/familytree.css')
block content
    include _header
    main.container#main
        h1.display-3
            a.text-decoration-none(href="familytree.html") Family Tree
        .clearfix
            .form-inline.float-sm-right
                .form-group.mx-sm-3.mb-2
                    input.form-control(name="tokenId" type="number" placeholder="ex.) 1000")
                button.btn.btn-primary.mb-2#getEntity search
            .float-sm-left
                #chart_progress
        #chart_div
    include _footer
block script
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="js/familytree.js")