doctype html
html
    head(prefix='og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#')
        meta(charset='utf-8')
        meta(content='yes' name='apple-mobile-web-app-capable')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
        title Crypt-Oink-Explorer
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
        link(rel='stylesheet' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css')
        link(rel='stylesheet' href='https://rawgit.com/outboxcraft/beauter/master/beauter.min.css')
        link(rel='stylesheet' type="text/css" href='css/tabulator_bootstrap.min.css')
        link(rel='stylesheet' type="text/css" href='css/pagination.css')
        link(rel='stylesheet' type="text/css" href='css/main.css')
        link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
        link(rel='apple-touch-icon' href='icon.png' sizes='180x180' type='image/x-icon')
        link(rel='icon' href='images/favicon-32x32.png' sizes='32x32' type='image/png')
        link(rel='icon' href='images/favicon-16x16.png' sizes='16x16' type='image/png')
        link(rel='icon' href='images/android-icon-192x192.png' sizes='192x192' type='image/png')
    body
        block content
        script(src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
        script(src="https://rawgit.com/outboxcraft/beauter/master/beauter.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/3.5.3/js/tabulator.min.js")
        script(src="js/pagination.min.js")
        script(src="js/main.js")
        block script