doctype html
html
    head
        meta(charset='utf-8')
        meta(content='yes' name='apple-mobile-web-app-capable')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport')
        title Crypt-Oink-Explorer
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='https://unpkg.com/tabulator-tables@4.1.4/dist/css/tabulator.min.css')
        link(rel='stylesheet' type="text/css" href='css/tabulator_bootstrap4.min.css')
        link(rel='stylesheet' type="text/css" href='css/pagination.css')
        link(rel='stylesheet' type="text/css" href='css/main.css')
        link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
        link(rel='apple-touch-icon' href='icon.png' sizes='180x180' type='image/x-icon')
        link(rel='icon' href='images/favicon-32x32.png' sizes='32x32' type='image/png')
        link(rel='icon' href='images/favicon-16x16.png' sizes='16x16' type='image/png')
        link(rel='icon' href='images/android-icon-192x192.png' sizes='192x192' type='image/png')
        block style
    body
        block content
        script(src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous")
        script(type="text/javascript" src="https://unpkg.com/tabulator-tables@4.1.4/dist/js/tabulator.min.js")
        script(src="js/sammy/sammy-latest.min.js")
        script(src="js/pagination.min.js")
        script(src="js/main.js")
        block script