extends layout

block content
    include _header
    main.container#main
        .text-right#lastMod
        h1.display-3
            a.text-decoration-none(href="familytree.html") Ranking
        .clearfix
            .form-inline.float-sm-right
                .form-group.mx-sm-3.mb-2
            #topPagination
        #dataRanking
        #bottomPagination
    include _footer
block script
    script(src="js/ranking.js")