extends layout

block content
    include _header
    ._margin-bottom20
    .container._margin-bottom50
        .row#lastMod(style="text-align:right;")
        .row
            h2 Ranking &nbsp;
        .row
            #pagination
        .row
            #dataRanking
    include _footer
block script
    script(src="js/ranking.js")