extends layout

block content
    include _header
    main.container#main
        h1.display-3
            a.text-decoration-none(href="tonlist.html") All Ton List
        .form-inline.float-sm-right
            .form-group.mx-sm-3.mb-2
                input.form-control(name="tokenId" type="number" placeholder="ex.) 1000")
            button.btn.btn-primary.mb-2#getEntity search
        #topPagination
        #dataEntity.table.table-borderless.table-sm
        #bottomPagination
        include _tonlistmodal
        include _footer

block script
    script(src="js/tonlist.js")


