extends layout

block content
    include _header
    main.container#main
        h1.display-3.mb-4
            a.text-decoration-none(href="tons.html") Tons
        .form-inline.float-sm-right
            .form-group.mr-sm-3.mb-2
                input.form-control(name="tokenId" type="number" placeholder="ex.) 1000")
            button.btn.btn-primary.mb-2#getEntity search
        #topPagination.mb-2
        ul.nav.nav-tabs
            li.nav-item
                a.nav-link#btnList List
            li.nav-item
                a.nav-link#btnCard Card
        .row.no-gutters#cardEntity.mb-2
        #dataEntity.mb-2
        #bottomPagination.mb-2
    include _tonsmodal
    include _footer
block script
    script(src="js/tons.js")


